In [17]:
import pandas as pd
import re
import requests

In [2]:
people = pd.read_csv("people.csv")

In [3]:
def clean_people(df):
    # rename columns:
    df = df.rename(columns={'email address': 'email'})
    
    # remove rows which have an empty "first_name" (NA):
    #df = df[df.first_name.notna()] <- equivalent to next line:
    df = df.dropna(subset=['first_name'])
    
    # drop duplicates on ID column:
    df = df.drop_duplicates()
    
    # Normalize gender column:
    df['gender'] = df['gender'].replace({'Female': 'F', 'Male': 'M'})
    
    # Convert column "age" to number (coerce: put NaN for bad values):
    df['age'] = pd.to_numeric(df.age, errors='coerce')
    
    # Convert columns to date type:
    df['registration'] = pd.to_datetime(df.registration)
    df['last_seen'] = pd.to_datetime(df.last_seen, unit='s')
    # When missing, last seen should fallback to the registration date:
    df['last_seen'] = df.last_seen.combine_first(df.registration)
    
    # Add a "full_name" column by concatenating two other ones:
    df['full_name'] = df.first_name + " " + df.last_name
    
    # Add a "country" column by extracting it from the address, with a split:
    df['country'] = df.address.str.split(', ').str[1]
    
    # Column "money" contains values like "$50.23" or "€23,09".
    # We want to make it uniform (only dollar currency) and as number, not str.
    df['currency'] = df.money.str[0]  # extract first char ($/€) to a new "currency" column
    df['money'] = df.money.str[1:].str.replace(',', '.')  # extract remaining chars and replace , by .
    df['money'] = pd.to_numeric(df.money)  # convert to number
    # convert euros cells to dollar:
    df.loc[df.currency == '€', 'money'] = df[df.currency == '€'].money * 1.10
    del df['currency']  # remove "currency" column which is now useless
    
    # Keep only rows where email is not NA:
    df = df.dropna(subset=['email'])
    # Keep only rows where email is a good email:
    # CAUTION: in the real world you should not use dummy regexes like this to validate email addresses,
    # but instead use a dedicated tool like https://github.com/syrusakbary/validate_email.
    df = df[df.email.str.contains('.+@[0-9a-zA-Z\.\-_]+\.\w{2,}')]
    # Some users may use email alias (example: john.smith+truc@gmail.com is an alias for john.smith@gmail.com).
    # We want to drop these duplicates. To do that, we extract the 'alias' part with a regex:
    groups = df.email.str.extract('([0-9a-zA-Z\.\-_]+)(\+[0-9a-zA-Z\.\-_]+)?(@[0-9a-zA-Z\.\-_]+\.\w{2,})')
    df['email'] = groups[0] + groups[2]  # we override the email with the email without the alias part
    # Then, just use drop_duplicates, which will keep the first line by default:
    df = df.drop_duplicates(subset=['email'])
    
    return df

df_clean = clean_people(people)

In [4]:
df_clean.head()

,id,first_name,last_name,email,gender,age,money,lon,lat,phone,registration,inactive,last_seen,address,preference,full_name,country
0,27625,Leandra,Pabelik,lpabelik5f@yale.edu,F,63.0,55.180,18.284100,49.632552,0136319724,2019-04-16,False,2019-06-03 12:39:57,"Palkovice, Czech Republic",entrée/plat/dessert,Leandra Pabelik,Czech Republic
1,27570,Ruthi,Ross,rross3w@sohu.com,F,57.0,20.370,19.230220,50.466575,NaN,2018-10-23,False,2019-08-30 11:41:04,"Siewierz, Poland",entrée/plat/dessert,Ruthi Ross,Poland
2,27572,Silas,Stourton,silas.stourton3y@answers.com,M,22.0,36.289,118.831081,24.984813,NaN,2018-12-30,False,2019-03-27 13:10:32,"Longbo, China",entrée/plat/dessert,Silas Stourton,China
3,27435,Roxine,Pettecrew,rpettecrew5@gravatar.com,F,64.0,108.823,121.648987,-8.844744,NaN,2019-03-12,False,2019-03-12 00:00:00,"Potulando, Indonesia",entrée/plat,Roxine Pettecrew,Indonesia
5,27497,Gordie,Bodicum,gbodicum1v@apache.org,M,60.0,47.260,13.978681,49.786243,0146943857,2017-04-29,False,2018-12-26 07:40:36,"Jince, Czech Republic",entrée/plat/dessert,Gordie Bodicum,Czech Republic

### 1. Mettre la colonne inactive à true pour tous les users dont le last_seen date d'au moins un an

In [5]:
from datetime import datetime
now = datetime.now()
# datetime.now().replace(year=datetime.now().year -1)

df_clean['inactive'] = df_clean['last_seen'].apply(lambda x: True if x< datetime.now().replace(year=datetime.now().year -1) else False  )

In [6]:
df_clean.head()

,id,first_name,last_name,email,gender,age,money,lon,lat,phone,registration,inactive,last_seen,address,preference,full_name,country
0,27625,Leandra,Pabelik,lpabelik5f@yale.edu,F,63.0,55.180,18.284100,49.632552,0136319724,2019-04-16,False,2019-06-03 12:39:57,"Palkovice, Czech Republic",entrée/plat/dessert,Leandra Pabelik,Czech Republic
1,27570,Ruthi,Ross,rross3w@sohu.com,F,57.0,20.370,19.230220,50.466575,NaN,2018-10-23,False,2019-08-30 11:41:04,"Siewierz, Poland",entrée/plat/dessert,Ruthi Ross,Poland
2,27572,Silas,Stourton,silas.stourton3y@answers.com,M,22.0,36.289,118.831081,24.984813,NaN,2018-12-30,False,2019-03-27 13:10:32,"Longbo, China",entrée/plat/dessert,Silas Stourton,China
3,27435,Roxine,Pettecrew,rpettecrew5@gravatar.com,F,64.0,108.823,121.648987,-8.844744,NaN,2019-03-12,False,2019-03-12 00:00:00,"Potulando, Indonesia",entrée/plat,Roxine Pettecrew,Indonesia
5,27497,Gordie,Bodicum,gbodicum1v@apache.org,M,60.0,47.260,13.978681,49.786243,0146943857,2017-04-29,False,2018-12-26 07:40:36,"Jince, Czech Republic",entrée/plat/dessert,Gordie Bodicum,Czech Republic

In [94]:
import math
def phone_number_filter(phone):
    if phone is None :
        return False
    else:
        print(phone)
        phone_number_regex = "(\d{3}[-\.\s]??\d{3}[-\.\s]??\d{4}|\(\d{3}\)\s*\d{3}[-\.\s]??\d{4}|\d{3}[-\.\s]??\d{4})"
        if(re.match(phone_number_regex, phone)):
            return True
        else:
            False

### 2. Avec une regex: filtrer les numéros de téléphone invalides

In [7]:
df_clean = df_clean.loc[df_clean.phone.str.contains('^0\d{9}$',na=False)]

In [8]:
df_clean

,id,first_name,last_name,email,gender,age,money,lon,lat,phone,registration,inactive,last_seen,address,preference,full_name,country
0,27625,Leandra,Pabelik,lpabelik5f@yale.edu,F,63.0,55.180,18.284100,49.632552,0136319724,2019-04-16,False,2019-06-03 12:39:57,"Palkovice, Czech Republic",entrée/plat/dessert,Leandra Pabelik,Czech Republic
5,27497,Gordie,Bodicum,gbodicum1v@apache.org,M,60.0,47.260,13.978681,49.786243,0146943857,2017-04-29,False,2018-12-26 07:40:36,"Jince, Czech Republic",entrée/plat/dessert,Gordie Bodicum,Czech Republic
12,27548,Stanley,McCullen,smccullen3a@timesonline.co.uk,M,60.0,NaN,119.141473,28.074649,0875503094,2017-06-05,True,2017-06-05 00:00:00,"Longquan, China",entrée/plat/dessert,Stanley McCullen,China
15,27619,Shelley,Skeemor,sskeemor59@princeton.edu,F,44.0,41.500,111.878471,-7.584917,0547556034,2019-01-24,False,2019-05-04 13:18:24,"Guyangan, Indonesia",entrée/plat/dessert,Shelley Skeemor,Indonesia
16,27442,Mort,Midford,mmidfordc@yale.edu,M,59.0,NaN,6.848501,5.959253,0811321968,2019-06-25,False,2019-06-25 00:00:00,"Ozubulu, Nigeria",entrée/plat,Mort Midford,Nigeria
20,27462,Graig,Brownsea,gbrownseaw@arstechnica.com,M,54.0,80.230,110.393439,-7.213328,0262855559,2018-05-22,False,2019-09-28 13:28:10,"Sidomukti, Indonesia",entrée/plat/dessert,Graig Brownsea,Indonesia
24,27563,Andre,Lugsdin,alugsdin3p@microsoft.com,M,30.0,40.630,12.219712,57.121813,0144026028,2017-01-15,False,2019-06-03 02:11:38,"Varberg, Sweden",entrée/plat/dessert,Andre Lugsdin,Sweden
27,27551,Brigg,Bryett,bbryett3d@prlog.org,M,20.0,28.050,102.638296,24.301245,0746863267,2017-10-25,False,2019-04-10 01:46:26,"Dayingjie, China",entrée/plat/dessert,Brigg Bryett,China
30,27440,Erick,Meharry,emeharrya@wikispaces.com,M,52.0,44.792,3.575175,47.794456,0098166909,2017-04-21,True,2018-07-11 08:22:11,"Auxerre, France",entrée/plat/dessert,Erick Meharry,France
31,27593,Evelyn,Olenichev,eolenichev4j@tripadvisor.com,F,44.0,54.252,23.711756,37.944288,0214068650,2017-01-02,False,2019-08-07 22:59:39,"Néa Smýrni, Greece",entrée/plat/dessert,Evelyn Olenichev,Greece
33,27463,Caesar,Ferrarotti,cferrarottix@qq.com,M,59.0,66.924,112.867154,-6.921845,0346857462,2018-12-10,False,2019-10-02 02:43:57,"Trogan Barat, Indonesia",entrée/plat/dessert,Caesar Ferrarotti,Indonesia
38,27494,Gill,Cottell,gcottell1s@upenn.edu,F,63.0,64.130,0.813275,46.647310,0177869521,2017-01-09,True,2018-11-03 14:49:10,"Ajaccio, France",entrée/plat/dessert,Gill Cottell,France
40,27566,Amalie,Matthisson,aMatthisson3s@ted.com,F,63.0,15.279,16.304150,57.993607,0409272683,2019-01-20,False,2019-01-20 00:00:00,"Linköping, Sweden",entrée/plat/dessert,Amalie Matthisson,Sweden
45,27432,Gardener,Kempson,gkempson2@furl.net,M,33.0,41.300,25.911060,49.103782,0774378059,2017-09-08,False,2019-03-18 18:58:59,"Kopychyntsi, Ukraine",entrée/plat/dessert,Gardener Kempson,Ukraine
49,27458,Osborne,Donn,odonns@webeden.co.uk,M,33.0,37.609,117.430061,23.701262,0721208335,2018-09-01,False,2019-03-07 22:09:24,"Dongshe, China",plat/dessert,Osborne Donn,China
51,27445,Gardener,Brosi,gbrosif@flickr.com,M,47.0,39.182,-39.071075,-11.256817,0321573819,2017-03-30,False,2019-05-11 01:15:13,"Araci, Brazil",entrée/plat/dessert,Gardener Brosi,Brazil
53,27467,Worden,Shewery,wshewery11@smugmug.com,M,26.0,15.670,19.883333,40.916667,0517301167,2018-08-22,False,2018-11-22 07:43:27,"Kajan, Albania",entrée/plat/dessert,Worden Shewery,Albania
56,27471,Grethel,Burnyate,gburnyate15@mail.ru,F,43.0,39.990,106.617342,-6.295621,0593299765,2017-01-19,True,2018-10-03 08:57:02,"Pagedangan, Indonesia",entrée/plat/dessert,Grethel Burnyate,Indonesia
57,27547,Vasily,Moggach,vmoggach39@g.co,M,39.0,51.711,20.254048,50.748099,0133026726,2018-01-07,True,2018-10-07 01:15:33,"Złotniki, Poland",entrée/plat/dessert,Vasily Moggach,Poland
61,27543,Ogden,Jertz,ojertz35@aboutads.info,M,20.0,NaN,15.559672,46.073321,0228944761,2017-07-10,True,2017-07-10 00:00:00,"Kozje, Slovenia",entrée/plat/dessert,Ogden Jertz,Slovenia
65,27621,Forbes,Viste,fviste5b@seattletimes.com,M,22.0,29.820,110.674998,-7.653529,0012673876,2019-01-22,False,2019-08-06 20:47:17,"Kuncen, Indonesia",entrée/plat/dessert,Forbes Viste,Indonesia
68,27541,Clio,Anning,canning33@globo.com,F,37.0,95.249,29.291635,-26.215504,0744215909,2018-01-14,False,2019-01-28 08:34:53,"Kriel, South Africa",entrée/plat/dessert,Clio Anning,South Africa
69,27455,Ericka,Gowrich,egowrichp@t-online.de,F,65.0,95.150,3.218896,43.336282,0431555341,2019-08-22,False,2019-08-22 00:00:00,"Béziers, France",entrée/plat/dessert,Ericka Gowrich,France
70,27499,Bret,Bradnock,bbradnock1x@reference.com,M,54.0,28.721,39.531427,44.418695,0644377486,2018-04-27,True,2018-06-27 07:42:59,"Khadyzhensk, Russia",entrée/plat/dessert,Bret Bradnock,Russia
74,27584,Yehudit,Curston,ycurston4a@nifty.com,M,63.0,86.990,-106.417031,31.975476,0157438239,2019-01-09,False,2019-01-09 00:00:00,"El Paso, United States",entrée/plat/dessert,Yehudit Curston,United States
76,27512,Simonette,Breissan,sbreissan2a@state.tx.us,F,66.0,66.100,168.017733,-46.347899,0936125953,2018-07-08,True,2018-07-08 00:00:00,"Riverton, New Zealand",entrée/plat/dessert,Simonette Breissan,New Zealand
80,27517,Zack,Reinhard,zreinhard2f@github.com,M,35.0,91.200,-68.103824,-38.961513,0056565079,2017-10-20,False,2019-04-21 06:56:42,"Las Lajas, Argentina",entrée/plat/dessert,Zack Reinhard,Argentina
81,27628,Arliene,Sedgeman,asedgeman5i@cmu.edu,F,33.0,67.639,14.521628,59.321605,0795796664,2017-05-10,True,2018-07-09 01:45:46,"Karlskoga, Sweden",entrée/plat/dessert,Arliene Sedgeman,Sweden
85,27529,Duane,Dudeney,ddudeney2r@pen.io,M,40.0,36.090,-50.453679,-21.202854,0159952607,2019-01-11,False,2019-05-02 06:59:19,"Araçatuba, Brazil",entrée/plat/dessert,Duane Dudeney,Brazil
87,27559,Hersh,Glison,hglison3l@sciencedaily.com,M,35.0,77.264,5.897802,43.494574,0111330886,2018-04-08,False,2019-04-20 15:15:39,"Paris 19, France",entrée/plat/dessert,Hersh Glison,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,27431,Sinclair,Witherow,switherow1@joomla.org,M,41.0,61.545,22.004971,56.674534,0298040087,2018-12-26,False,2018-12-26 00:00:00,"Skrunda, Latvia",entrée/plat/dessert,Sinclair Witherow,Latvia
128,27522,Sasha,Bozworth,sbozworth2k@ehow.com,M,70.0,92.378,-8.334953,51.861002,0345561695,2018-04-17,True,2018-04-17 00:00:00,"Claremorris, Ireland",entrée/plat/dessert,Sasha Bozworth,Ireland
134,27515,Gaston,McCafferky,gmccafferky2d@reuters.com,M,NaN,NaN,112.490900,-6.984200,0495501591,2018-11-04,False,2018-11-04 00:00:00,"Saniwonorejo, Indonesia",entrée/plat/dessert,Gaston McCafferky,Indonesia
137,27436,Davy,Nickels,dnickels6@tamu.edu,M,52.0,56.859,-49.324715,-16.115743,0847508396,2017-04-26,False,2019-03-29 07:14:00,"Petrolina de Goiás, Brazil",entrée/plat/dessert,Davy Nickels,Brazil
139,27473,Koressa,Berthon,kberthon17@parallels.com,F,42.0,78.910,110.973252,30.823054,0289190675,2018-10-21,False,2019-08-22 09:54:34,"Maoping, China",entrée/plat/dessert,Koressa Berthon,China
142,27577,Efren,Rowcliffe,erowcliffe43@chronoengine.com,M,20.0,64.504,117.609916,34.429066,0486008155,2018-04-24,True,2018-05-19 01:45:29,"Damatou, China",entrée/plat/dessert,Efren Rowcliffe,China
147,27614,Roxine,Bellenie,rbellenie54@topsy.com,F,50.0,72.347,25.873141,-24.613141,0275529702,2019-05-03,False,2019-05-03 00:00:00,"Mogoditshane, Botswana",entrée/plat/dessert,Roxine Bellenie,Botswana
149,27567,Basile,Gaddas,bGaddas3t@usatoday.com,M,32.0,36.454,107.322323,25.822349,0345081211,2018-02-21,False,2018-11-25 07:36:19,"Pingtang, China",entrée/plat/dessert,Basile Gaddas,China
150,27573,Harald,Timberlake,htimberlake3z@naver.com,M,62.0,52.525,32.263306,55.850201,0842877691,2019-07-07,False,2019-07-07 00:00:00,"Zharkovskiy, Russia",entrée/plat/dessert,Harald Timberlake,Russia
151,27538,Katie,La Wille,klawille30@usgs.gov,F,28.0,98.260,141.736659,45.202937,0121722344,2017-05-30,True,2018-04-30 06:59:26,"Wakkanai, Japan",entrée/plat/dessert,Katie La Wille,Japan
152,27495,Ariadne,Eger,aeger1t@vistaprint.com,F,49.0,82.350,39.412906,51.626324,0378327099,2018-06-28,False,2019-09-08 15:36:30,"Novaya Usman’, Russia",entrée/plat/dessert,Ariadne Eger,Russia
153,27623,Deborah,Sackes,dsackes5d@gnu.org,F,36.0,77.780,115.183179,-8.618641,0365047038,2018-11-08,False,2019-07-16 11:21:16,"Banjar Batuaji Kaja, Indonesia",entrée/plat/dessert,Deborah Sackes,Indonesia
154,27594,Ada,McAvaddy,amcavaddy4k@storify.com,F,54.0,48.120,112.528308,32.990664,0771644155,2019-04-24,False,2019-06-06 07:42:21,"Nanyang, China",entrée/plat/dessert,Ada McAvaddy,China
157,27526,Sarajane,Fidler,sfidler2o@sitemeter.com,F,70.0,90.090,95.308054,32.596752,0511530696,2017-04-16,True,2018-08-09 11:29:14,"Jieduo, China",entrée/plat/dessert,Sarajane Fidler,China
158,27536,Fawn,Okell,fokell2y@wsj.com,F,21.0,NaN,108.406834,-7.079526,0218963033,2017-09-24,True,2017-09-24 00:00:00,"Cimenga, Indonesia",entrée/plat/dessert,Fawn Okell,Indonesia
160,27524,Hewett,Tanslie,htanslie2m@hp.com,M,49.0,36.140,17.436820,62.526251,0934317702,2018-03-11,False,2019-07-19 13:05:35,"Timrå, Sweden",entrée/plat/dessert,Hewett Tanslie,Sweden
162,27591,Salomone,Arrow,sarrow4h@goodreads.com,M,32.0,85.250,-86.350349,15.584735,0243134786,2017-04-01,False,2019-05-03 19:25:22,"Puerto Alto, Honduras",entrée/plat/dessert,Salomone Arrow,Honduras
163,27600,Field,Wollaston,fwollaston4q@themeforest.net,M,42.0,12.940,58.468709,35.243423,0392234826,2019-02-16,False,2019-05-06 03:09:32,"Kāshmar, Iran",entrée/plat/dessert,Field Wollaston,Iran
167,27605,Nollie,Ranscome,nranscome4v@cbc.ca,F,55.0,82.580,23.241686,58.991981,0455157590,2019-09-04,False,2019-09-04 00:00:00,"Hullo, Estonia",entrée/plat/dessert,Nollie Ranscome,Estonia
170,27450,Claudell,Babinski,cbabinskik@discovery.com,M,57.0,73.350,19.304583,51.222814,0407262250,2018-11-03,False,2019-02-04 04:26:16,"Kleszczów, Poland",entrée/plat/dessert,Claudell Babinski,Poland
171,27629,Lannie,Bimson,lbimson5j@ifeng.com,M,54.0,69.550,110.325536,-7.874818,0735950711,2017-07-10,False,2019-08-02 17:34:45,"Bantul, Indonesia",entrée/plat/dessert,Lannie Bimson,Indonesia
172,27603,Adara,Farragher,afarragher4t@foxnews.com,F,61.0,NaN,29.741025,46.508480,0606471647,2018-03-12,True,2018-03-12 00:00:00,"Slobozia, Moldova",entrée/plat/dessert,Adara Farragher,Moldova
175,27564,Lorne,Feak,lfeak3q@icio.us,M,32.0,57.490,8.839032,11.794242,0505884871,2018-01-14,True,2018-07-15 13:11:34,"Wudil, Nigeria",entrée/plat/dessert,Lorne Feak,Nigeria
193,27592,Ettore,Featonby,efeatonby4i@hc360.com,M,38.0,19.756,8.271907,50.089714,0466350315,2017-06-12,True,2018-07-14 20:28:17,"Wiesbaden, Germany",entrée/plat/dessert,Ettore Featonby,Germany
196,27510,Nanny,Irons,nirons28@intel.com,F,53.0,37.345,-68.238534,3.856457,0696703245,2019-04-24,False,2019-04-24 00:00:00,"Inírida, Colombia",entrée/plat/dessert,Nanny Irons,Colombia
198,27624,Dur,Hallaways,dhallaways5e@delicious.com,M,25.0,76.076,106.720976,28.739865,0317009357,2019-07-27,False,2019-09-23 05:01:36,"Ganshui, China",entrée/plat/dessert,Dur Hallaways,China
199,27604,Michelina,Lowcock,mlowcock4u@nba.com,F,42.0,NaN,12.325710,58.335399,0276520906,2017-07-12,True,2017-07-12 00:00:00,"Vänersborg, Sweden",entrée/plat/dessert,Michelina Lowcock,Sweden
206,27521,Moritz,Issacof,missacof2j@wired.com,M,21.0,91.970,72.311099,31.263396,0298949280,2018-08-20,False,2019-02-10 16:39:03,"Jhang Sadr, Pakistan",entrée/plat/dessert,Moritz Issacof,Pakistan
207,27441,Quintana,Foulstone,qfoulstoneb@newsvine.com,F,32.0,61.204,111.138442,-6.783653,0734595126,2018-10-25,True,2018-10-25 00:00:00,"Mantingantengah, Indonesia",entrée/plat/dessert,Quintana Foulstone,Indonesia
208,27597,Trueman,De Haven,tdehaven4n@goo.gl,M,34.0,81.540,-47.208953,-23.088650,0516973570,2017-06-05,True,2018-10-25 04:20:32,"Indaiatuba, Brazil",entrée/plat/dessert,Trueman De Haven,Brazil

### 3. Ajouter une colonne indiquant si le numéro de tel correspond à un téléphone portable (06/07)

In [9]:
df_clean['is_mobile'] = df_clean.phone.str.contains('^0[67]', na=False)

In [11]:
df_clean.head(10)

,id,first_name,last_name,email,gender,age,money,lon,lat,phone,registration,inactive,last_seen,address,preference,full_name,country,is_mobile
0,27625,Leandra,Pabelik,lpabelik5f@yale.edu,F,63.0,55.180,18.284100,49.632552,0136319724,2019-04-16,False,2019-06-03 12:39:57,"Palkovice, Czech Republic",entrée/plat/dessert,Leandra Pabelik,Czech Republic,False
5,27497,Gordie,Bodicum,gbodicum1v@apache.org,M,60.0,47.260,13.978681,49.786243,0146943857,2017-04-29,False,2018-12-26 07:40:36,"Jince, Czech Republic",entrée/plat/dessert,Gordie Bodicum,Czech Republic,False
12,27548,Stanley,McCullen,smccullen3a@timesonline.co.uk,M,60.0,NaN,119.141473,28.074649,0875503094,2017-06-05,True,2017-06-05 00:00:00,"Longquan, China",entrée/plat/dessert,Stanley McCullen,China,False
15,27619,Shelley,Skeemor,sskeemor59@princeton.edu,F,44.0,41.500,111.878471,-7.584917,0547556034,2019-01-24,False,2019-05-04 13:18:24,"Guyangan, Indonesia",entrée/plat/dessert,Shelley Skeemor,Indonesia,False
16,27442,Mort,Midford,mmidfordc@yale.edu,M,59.0,NaN,6.848501,5.959253,0811321968,2019-06-25,False,2019-06-25 00:00:00,"Ozubulu, Nigeria",entrée/plat,Mort Midford,Nigeria,False
20,27462,Graig,Brownsea,gbrownseaw@arstechnica.com,M,54.0,80.230,110.393439,-7.213328,0262855559,2018-05-22,False,2019-09-28 13:28:10,"Sidomukti, Indonesia",entrée/plat/dessert,Graig Brownsea,Indonesia,False
24,27563,Andre,Lugsdin,alugsdin3p@microsoft.com,M,30.0,40.630,12.219712,57.121813,0144026028,2017-01-15,False,2019-06-03 02:11:38,"Varberg, Sweden",entrée/plat/dessert,Andre Lugsdin,Sweden,False
27,27551,Brigg,Bryett,bbryett3d@prlog.org,M,20.0,28.050,102.638296,24.301245,0746863267,2017-10-25,False,2019-04-10 01:46:26,"Dayingjie, China",entrée/plat/dessert,Brigg Bryett,China,True
30,27440,Erick,Meharry,emeharrya@wikispaces.com,M,52.0,44.792,3.575175,47.794456,0098166909,2017-04-21,True,2018-07-11 08:22:11,"Auxerre, France",entrée/plat/dessert,Erick Meharry,France,False
31,27593,Evelyn,Olenichev,eolenichev4j@tripadvisor.com,F,44.0,54.252,23.711756,37.944288,0214068650,2017-01-02,False,2019-08-07 22:59:39,"Néa Smýrni, Greece",entrée/plat/dessert,Evelyn Olenichev,Greece,False

### 4. Ajouter une colonne indiquant si les coordonnées GPS de l'utilisateur correspondent bien au "country"

In [14]:
def gps_country(row):
    lat, lon = row['lat'], row['lon']
    url = "https://geocode.xyz/{:.4f},{:.4f}?json=1".format(lat,lon)
    data = requests.get(url).json()
    if 'country' in data:
        return data['country']
    else:
        return 'Unknown'

In [19]:
df_clean["country_from_lon_lat"] = df_clean.apply(gps_country, axis =1)

In [20]:
df_clean.head()

,id,first_name,last_name,email,gender,age,money,lon,lat,phone,registration,inactive,last_seen,address,preference,full_name,country,is_mobile,country_from_lon_lat
0,27625,Leandra,Pabelik,lpabelik5f@yale.edu,F,63.0,55.18,18.284100,49.632552,0136319724,2019-04-16,False,2019-06-03 12:39:57,"Palkovice, Czech Republic",entrée/plat/dessert,Leandra Pabelik,Czech Republic,False,Unknown
5,27497,Gordie,Bodicum,gbodicum1v@apache.org,M,60.0,47.26,13.978681,49.786243,0146943857,2017-04-29,False,2018-12-26 07:40:36,"Jince, Czech Republic",entrée/plat/dessert,Gordie Bodicum,Czech Republic,False,Czech Republic
12,27548,Stanley,McCullen,smccullen3a@timesonline.co.uk,M,60.0,NaN,119.141473,28.074649,0875503094,2017-06-05,True,2017-06-05 00:00:00,"Longquan, China",entrée/plat/dessert,Stanley McCullen,China,False,Unknown
15,27619,Shelley,Skeemor,sskeemor59@princeton.edu,F,44.0,41.50,111.878471,-7.584917,0547556034,2019-01-24,False,2019-05-04 13:18:24,"Guyangan, Indonesia",entrée/plat/dessert,Shelley Skeemor,Indonesia,False,Indonesia
16,27442,Mort,Midford,mmidfordc@yale.edu,M,59.0,NaN,6.848501,5.959253,0811321968,2019-06-25,False,2019-06-25 00:00:00,"Ozubulu, Nigeria",entrée/plat,Mort Midford,Nigeria,False,Unknown